<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>demo</ion-card-subtitle>
        <ion-card-title>Test povezanosti. 002</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac nulla eget lorem semper convallis eu vitae odio. Phasellus fermentum tincidunt pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed quam nulla, mollis ac dui nec, maximus convallis dolor. Ut blandit dui vitae enim iaculis placerat. Sed ut gravida velit. Fusce tincidunt quis eros a aliquam. Proin eu magna non odio dapibus fermentum. Ut viverra dolor sed dui pharetra, in consequat elit porta. In accumsan lacus quis arcu laoreet vestibulum.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
